body {
   max-width: 90%;
   margin: 1rem auto;
   background-color: black;
   color: white;
   text-align: center;
   font-family: "Press Start 2P", system-ui;
   align-items: center;
}

h1 {
   font-size: 200%;
   color: red;
   margin: 8px 0;
}

h2 {
   margin-bottom: 1rem;
   font-size: 125%;
}

a {
   display: block;
   background-color: blue;
   color: white;
   text-decoration: none;
   padding: 1rem;
   border-radius: 1rem;
}

a:hover {
   color: grey;
   background-color: darkblue;
}